@{
    ViewData["Title"] = "Home Page";
}

<div >
    <p>@ViewData["Message"]</p>
    <p>@ViewData["email"]</p>

    <address>
        <strong>More information: <a href="">Here</a> </strong>
    </address>
</div>

<!--
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
-->